# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

#OpenAlpr install
backend/openalpr/*

# Secrets / env
.env
.env.*
*.pem
*.key

# Logs
logs/
*.log

# Runtime / temp
*.pid
tmp/
*.tmp

# Worker state
/tmp/ambers_angels_*.json

# Media artifacts
frames/
recordings/
*.mp4
*.jpg
*.jpeg
*.png

# OS/editor
.DS_Store
.vscode/
.idea/
